.list-group-item.active {
  background-color: #f8f8f8;
  border-color: #e5e5e5;
  color: #40454d;
  font-weight: 700;
  font-size: 17px;
  border-radius: 0;
}

.w-100 {
  width: 100%;
}

p {
  line-height: 27px;
}
