<div class="container">
  <div class="p-grid">
    <div class="p-col-7">
      <div class="checkout-info">
        <h2 class="title">Checkout</h2>

        <div class="checkout-address">
          <h3>Billing Address</h3>
          <p-dropdown
            [options]="filteredCountries"
            placeholder="Select a City"
            optionLabel="name"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>

        <div class="checkout-billing-options">
          <div class="options-method">
            <div class="p-field-radiobutton">
              <p-radioButton
                name="groupname"
                value="card"
                inputId="card"
                [(ngModel)]="paymentMethod"
              ></p-radioButton>
              <label for="card">New Payment Card</label>
            </div>

            <div class="p-field-radiobutton">
              <p-radioButton
                name="groupname"
                value="paypal"
                inputId="paypal"
                [(ngModel)]="paymentMethod"
              ></p-radioButton>
              <label for="paypal" class="p-d-flex p-jc-center p-ai-center"
                >PayPal
                <img
                  src="https://s3.amazonaws.com/growth-prototypes/pp_cc_mark_111x69.jpg"
                  alt="paypal"
                  width="74px"
                  style="margin-left: 20px"
              /></label>
            </div>
          </div>

          <div class="payment-method-info">
            <div class="for-card" *ngIf="paymentMethod === 'card'; else paypal">
              <p-card class="p-grid">
                <input
                  type="text"
                  pInputText
                  placeholder="Name on Card"
                  class="p-col-12"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="Card Number"
                  class="p-col-12"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="MM/YY"
                  class="p-col-6"
                />
                <span class="p-col-1" style="display: inline-block"></span>
                <input
                  type="text"
                  pInputText
                  placeholder="Security Code"
                  class="p-col-5"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="Zip/Postal Code"
                  class="p-col-6"
                />
              </p-card>
            </div>

            <ng-template #paypal>
              <div class="for-paypal">
                <p-card>
                  <p class="title">
                    In order to complete your transaction, we will transfer you
                    over to PayPal's secure servers.
                  </p>
                </p-card>
              </div>
            </ng-template>
          </div>

          <div class="payment-detail">
            <h2 class="title">Order Details</h2>
            <ul class="list-items">
              <li *ngFor="let course of courses">
                <div class="item p-grid p-nogutter">
                  <img [src]="course.img" class="p-col-2" />
                  <p class="name p-col-9">
                    {{ course.title }}
                  </p>
                  <span class="price p-col-1">{{
                    course.price | currency
                  }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="p-col-5">
      <p-card class="checkout-panel">
        <div class="complete-checkout">
          <h2 class="title">Summary</h2>
          <div class="original-price">
            <span>Original price:</span>
            <span>{{ originalPrice | currency }}</span>
          </div>
          <div class="discounts">
            <span>Coupon discounts:</span>
            <span>{{ discountPrice | currency }}</span>
          </div>
          <div class="total">
            <span>Total:</span>
            <span>{{ totalPrice | currency }}</span>
          </div>
        </div>

        <p class="legal">
          By completing your purchase you agree to these Terms of Service.
        </p>
        <p-button
          label="Complete Payment"
          (click)="onPayment()"
          id="paypalbtn"
        ></p-button>
      </p-card>
    </div>
  </div>
</div>

<p-toast></p-toast>
