<ng-container *ngIf="categories; else loadCategory">
  <p-table [value]="categories" [rowHover]="true" [rows]="10" #table>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Tên</th>
        <th>Category Parent</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category let-i="rowIndex">
      <tr>
        <td>{{ currentPage * 10 + i + 1 }}</td>
        <td>{{ category.title }}</td>
        <td>{{ category.group ? category.group : "I'm a boss" }}</td>
        <td>
          <a
            class="btn btn-icon btn-light btn-hover-danger btn-sm mx-2"
            (click)="onEdit(category, i)"
          >
            <i class="pi pi-pencil"></i>
          </a>
          <a
            class="btn btn-icon btn-light btn-hover-danger btn-sm mx-2"
            (click)="onDeleteById(category)"
          >
            <i class="pi pi-trash"></i>
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-template #loadCategory>
  <div class="p-field p-col-12">
    <p-skeleton styleClass="p-mb-4" height="1.5rem"></p-skeleton>
    <p-skeleton styleClass="p-mb-4" height="1.5rem"></p-skeleton>
    <p-skeleton styleClass="p-mb-4" height="1.5rem"></p-skeleton>
    <p-skeleton styleClass="p-mb-4" height="1.5rem"></p-skeleton>
    <p-skeleton styleClass="p-mb-4" height="1.5rem"></p-skeleton>
  </div>
</ng-template>

<app-edit-modal
  [(showModal)]="showModal"
  [categoryEdit]="itemEdit"
  (categoryEditChange)="editSuccess($event)"
></app-edit-modal>
