<div class="p-field p-col-12">
  <form [formGroup]="parentForm">
    <p-card
      styleClass="curriculum-lists"
      *ngFor="let item of formLists.controls; index as i"
    >
      <ng-template pTemplate="header">
        <div class="section-info">
          <span class="section-number">{{
            "Section" + " " + (i + 1) + " " + ":"
          }}</span>
          <i class="pi pi-book"></i>
          <input
            class="section-title"
            type="text"
            pInputText
            [formControl]="item.get('title')"
            style="width: 450px"
          />

          <span class="section-action">
            <i class="pi pi-pencil" (click)="onEditSection(i)"></i>
            <i class="pi pi-trash" (click)="onDeleteSection(i)"></i>
          </span>
        </div>

        <p-divider></p-divider>
      </ng-template>

      <p-card
        styleClass="chapter-editor"
        *ngFor="let itemChapter of getChapter(item); index as j"
      >
        <!-- <div class="add-content">
          <button>+ Content</button>
        </div> -->

        <p-panel [toggleable]="true" [collapsed]="true">
          <ng-template pTemplate="header"
            ><div class="edit-chapter">
              <i class="pi pi-check"></i>

              <span class="lecture-number">
                {{ "Lecture" + " " + (j + 1) + " " + ":" }}</span
              >
              <i class="pi pi-book"></i>
              <input
                class="lecture-title"
                type="text"
                pInputText
                [formControl]="itemChapter.get('title')"
                style="width: 450px"
              />
              <span class="lecture-action">
                <i class="pi pi-pencil"></i>
                <i class="pi pi-trash" (click)="onDeleteChapter(item, j)"></i>
              </span>
            </div>
          </ng-template>

          <div class="lecture-desc">
            <label for="">Lecture description</label>
            <app-text-editor
              [height]="200"
              [parentForm]="itemChapter"
            ></app-text-editor>
          </div>

          <div class="lecture-content-type">
            <p-tabView>
              <p-tabPanel header="Video">
                <div class="video-upload p-d-flex p-flex-column">
                  <label>Upload video</label>
                  <input
                    type="text"
                    pInputText
                    [formControl]="itemChapter.get('videoUrl')"
                    style="width: 450px"
                  />
                </div>
              </p-tabPanel>
              <p-tabPanel header="Video & Slide Mashup">
                <div class="video-upload p-d-flex p-flex-column">
                  <label>Upload video</label>
                  <input
                    type="text"
                    pInputText
                    [formControl]="itemChapter.get('videoUrl')"
                    style="width: 450px"
                  />
                </div>

                <div class="pdf-upload p-d-flex p-flex-column">
                  <label>Upload Pdf</label>
                  <input
                    type="text"
                    pInputText
                    [formControl]="itemChapter.get('pdfUrl')"
                    style="width: 450px"
                  />
                </div>
              </p-tabPanel>
              <!-- <p-tabPanel header="Article">
                <label for="">Text</label>
                <app-text-editor
                  [height]="200"
                  formControlName="article_lecture"
                ></app-text-editor>
              </p-tabPanel> -->
            </p-tabView>
          </div>
        </p-panel>
      </p-card>
      <div class="add-lecture">
        <button (click)="onAddLecture(item)">Add lecture</button>
      </div>
    </p-card>
  </form>
</div>

<p-confirmDialog
  [style]="{ width: '50vw', top: '-150px' }"
  [baseZIndex]="100000"
></p-confirmDialog>
<p-toast [baseZIndex]="100000"></p-toast>
