:host {
  display: block;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.125);

  .title {
    background: #2f6e91;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    line-height: 40px;
  }
}

.post-item {
  .post-item-content {
    border-radius: 3px;
    margin: 0.5rem;
    text-align: center;

    .img {
      height: 250px;

      img {
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
        height: 100%;
      }
    }

    h5 {
      text-align: left;
    }
  }
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  display: none;
}

:host ::ng-deep .p-carousel-items-container {
  margin: 0 -0.5rem;
}
