<div class="p-field p-col-12">
  <p-card header=" Quản lý Categories">
    <app-search-input (query)="onSearch($event)"></app-search-input>

    <app-category-item
      [categories]="categorys$ | async"
      [currentPage]="[skipPage]"
      (removed)="deleted()"
    ></app-category-item>

    <ng-container *ngIf="numPage$ | async as numPage">
      <p-paginator
        [rows]="10"
        [totalRecords]="numPage * 10"
        (onPageChange)="changeCategory($event)"
      ></p-paginator>
    </ng-container>
  </p-card>
</div>
