<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="currentpage > 1 && prevPage()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let page of listpage">
      <a
        class="page-link"
        [class]="page === currentpage ? 'active' : null"
        (click)="page !== currentpage && onClick(page, $event)"
        >{{ page }}
      </a>
    </li>

    <li class="page-item">
      <a class="page-link next" (click)="currentpage < numPage && nextPage()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
