<div class="p-field p-col-12">
  <p-card>
    <div class="page" [formGroup]="formLandingPage">
      <form [formGroup]="formLandingPage" (ngSubmit)="onSubmit()">
        <div class="p-grid p-fluid p-m-0">
          <div class="p-col-12">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Course title </span>
              <input
                type="text"
                class="p-col-12"
                pInputText
                placeholder="Insert your course title"
                formControlName="title"
              />
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Course subtitle </span>
              <input
                type="text"
                class="p-col-12"
                pInputText
                placeholder="Insert your course subtitle"
                formControlName="subtitle"
              />
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Course description</span>
              <app-text-editor
                [parentForm]="formLandingPage"
                style="width: 100%"
              ></app-text-editor>
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-grid p-inputgroup">
              <span class="p-col-12" for="">Basic Info</span>
              <div class="p-col-4 p-pl-0">
                <p-dropdown
                  [options]="cities"
                  formControlName="language"
                  optionLabel="name"
                  [showClear]="true"
                  placeholder="-- Select Language --"
                ></p-dropdown>
              </div>
              <div class="p-col-4">
                <p-dropdown
                  [options]="levels"
                  formControlName="level"
                  optionLabel="name"
                  [showClear]="true"
                  placeholder="-- Select Level --"
                ></p-dropdown>
              </div>
              <div class="p-col-4 p-pr-0">
                <p-dropdown
                  [options]="categories"
                  formControlName="category"
                  optionLabel="name"
                  [showClear]="true"
                  placeholder="-- Select Category --"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Course image </span>
              <input
                type="text"
                pInputText
                placeholder="Insert your course image"
                formControlName="img"
              />
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Course Video Preview </span>
              <input
                type="text"
                pInputText
                placeholder="Insert your course preview video"
                formControlName="preview_video"
              />
            </div>
          </div>

          <div class="p-col-4">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Price</span>
              <input
                type="text"
                pInputText
                placeholder="Price"
                formControlName="price"
              />
            </div>
          </div>

          <div class="p-col-4">
            <div class="p-inputgroup p-grid">
              <span class="p-col-12" for="">Discount</span>
              <input
                type="text"
                pInputText
                placeholder="Discount"
                formControlName="discount"
              />
            </div>
          </div>
        </div>
        <p-button label="Save" icon="pi pi-check" type="submit"></p-button>
      </form>
    </div>

    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-toast [baseZIndex]="100000"></p-toast>
<div class="loading" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
