#header {
  background-color: #dcf0fc;
}

#inner {
  height: 90px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  width: 500px;
  align-items: center;
}
button.p-button-raised {
  margin-right: 1rem;
}

.icon-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
}
.icon-user i {
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
form {
  margin-right: 20px;
}

form input[type="text"] {
  border: none;
  width: 300px;
  padding: 6px;
}

form button {
  padding: 6px 10px;
  border: none;
  background: white;
}

@media (max-width: 992px) {
  #header {
    padding: 35px 0;
  }
  #inner {
    flex-direction: column;
    height: auto;
    line-height: auto;
  }

  #inner > a:first-child {
    margin-bottom: 20px;
  }

  #inner > div {
    flex-direction: column !important;
  }

  #inner > div .icon-container {
    margin: 15px 0 0 0;
  }

  #inner > div .icon-container a {
    margin: 0;
  }
}
img{
  width: 100px;
}
:host ::ng-deep button.p-button-raised{
    background-color: #fff;
}
:host ::ng-deep div.p-menubar{
  background-color: #dcf0fc;
  border: none;
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon{
  color: #000;
}

:host ::ng-deep .icon-user .p-submenu-list {
  z-index: 1000000;
}

:host ::ng-deep .cart-badge {
  position: relative;
  right: 120px;
  top: -10px;
}

:host ::ng-deep .cart-detail {
  display: none;
}

:host ::ng-deep .cart:hover {
  .cart-detail {
    display: block;
  }
}
