<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Quản lý Post</h5>
      <app-search-input (query)="onSearch($event)"></app-search-input>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="posts$ | async as posts; else loadPost">
            <ng-container *ngIf="posts.length > 0; else noPost">
              <tr *ngFor="let post of posts; index as i">
                <th>{{ 10 * (skipPage - 1) + i + 1 }}</th>
                <td>{{ post.title }}</td>
                <td>
                  <a
                    class="btn btn-icon btn-light btn-hover-danger btn-sm mx-2"
                    [routerLink]="['./', post._id]"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a
                    class="btn btn-icon btn-light btn-hover-danger btn-sm mx-2"
                    (click)="onDelete(post)"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-template #noPost>
              <div class="no-post">
                <div>
                  <i class="fas fa-search"></i>
                  <p class="mt-3">Post not found</p>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-template #loadPost>
            <app-loading-placeholder></app-loading-placeholder>
          </ng-template>
        </tbody>
      </table>

      <app-swal-alert></app-swal-alert>
    </div>
  </div>
  <app-pagination
    *ngIf="numPage$ | async as numPage"
    [numPage]="numPage"
    (pageClick)="changePosts($event)"
  >
  </app-pagination>
</div>
