<div class="mb-3 form-group" *ngIf="!inputPrimeNg">
  <label class="form-label"> {{ label }} </label>
  <input
    *ngIf="inputType === 'input'"
    class="form-control mb-2"
    autocomplete="off"
    [formControl]="control"
    [type]="type"
    [class]="type === 'file' ? 'p-0 border-0' : ''"
    [placeholder]="placeholder"
  />

  <textarea
    *ngIf="inputType === 'textarea'"
    class="form-control mb-2"
    autocomplete="off"
    [formControl]="control"
    [placeholder]="placeholder"
  >
  </textarea>

  <ng-container *ngIf="control.invalid && control.touched && control.dirty">
    <p *ngIf="control.errors.required" class="text-danger">
      Field is required!
    </p>

    <p *ngIf="control.errors.minlength" class="alert alert-danger">
      Password must contain at least
      {{ control.errors.minlength.requiredLength }} characters
    </p>

    <p *ngIf="control.errors.categoryExist" class="text-danger">
      Category is existed
    </p>

    <p *ngIf="control.errors.email" class="text-danger">Email not correct</p>
  </ng-container>
</div>

<div class="p-field p-col-12 p-px-0" *ngIf="inputPrimeNg">
  <div class="p-inputgroup">
    <span
      class="p-inputgroup-addon"
      style="min-width: 70px"
      [innerHtml]="primeNgAddon"
    >
    </span>
    <span class="p-float-label">
      <input type="text" [id]="id" pInputText [formControl]="control" />
      <label [for]="id">{{ label }}</label>
    </span>
  </div>
</div>
