<ng-container *ngIf="commentList$ | async as commentLists">
  <ng-container *ngIf="commentLists.length > 0; else noComment">
    <div class="d-flex flex-row p-3" *ngFor="let comment of commentLists">
      <div class="user_status">
        <span class="avatar-comment"></span>
      </div>

      <div class="content-comment">
        <div class="full-content">
          <p>
            <strong>{{ comment.username }}</strong>
            <span [innerHTML]="comment.html" class="ml-3"></span>
          </p>
        </div>
        <div class="response-icon my-3 d-flex">
          <span class="cursor-pointer"
            >{{ comment.like }}
            <i class="fas fa-thumbs-up"></i>
          </span>
          <span class="mx-4 cursor-pointer" (click)="showEditor(comment)"
            >Trả lời
          </span>
          <span>{{ getTimeComment(comment["_kmd"].ect) }} giờ trước</span>
        </div>

        <ng-container
          *ngIf="showTextEditor && comment._id === currentComment._id"
        >
          <app-comment-form
            (commentSubmit)="onSubmit($event)"
          ></app-comment-form>
        </ng-container>

        <div
          class="reply-comment"
          (click)="showSubComment(comment._id)"
          *ngIf="comment.reply > 0"
        >
          <i class="fas fa-reply"></i>
          <span class="ml-2 cursor-pointer">{{ comment.reply }} Trả lời</span>
        </div>

        <app-comment-detail
          class="sub"
          [commentList$]="subComment$"
          [sort]="sort"
          *ngIf="comment._id === id_post"
        ></app-comment-detail>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #noComment>
  Hãy là người đầu tiên bình luận trong bài
</ng-template>
