<div class="cart">
  <div class="title-cart">
    <p>Shopping Cart</p>
  </div>
  <div class="total-cart">
    <p>1 Course in Cart</p>
  </div>

  <div class="p-grid">
    <div class="p-col-8 info-item">
      <div class="p-col-8 item">
        <img
          src="https://img-b.udemycdn.com/course/100x100/567828_67d0.jpg?secure=2xRdxeaTcohO1Y5D4jvzHA%3D%3D%2C1617447155"
          alt=""
        />
        <div class="title">
          <h5>2021 Complete Python Bootcamp From Zero to Hero in Python</h5>
          <small>Jose Portilla, Head of Data Science, Pierian Data Inc.</small>
        </div>
      </div>
      <div class="p-col-2 actionOption">
        <a href="#">Remove</a>
        <a href="#">Save for Later</a>
      </div>
      <div class="p-col-2">
        <p class="price">
          $129.99 <span><i class="pi pi-tag"></i></span>
        </p>
      </div>
    </div>
    <div class="p-col-4">
      <p style="color: #686f7a">Total:</p>
      <h3>$129.99</h3>
      <button
        pButton
        type="button"
        label="Check out"
        class="p-button-danger"
      ></button>
    </div>
  </div>
</div>
