<footer>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <p>Liên hệ</p>
        <a href="">Giới thiệu</a>
        <a href="">Chính sách</a>
        <a href="">Điều khoản</a>
        <a href="">Liên hệ</a>
        <a href="">Guest Post</a>
      </div>
      <div class="col-md">
        <p>Mã giảm giá</p>
        <a href="">TinoHost</a>
        <a href="">Azdigi</a>
        <a href="">Vultr</a>
        <a href="">Hawkhost</a>
        <a href="">Stablehost</a>
      </div>
      <div class="col-md">
        <p>Khóa học</p>
        <a href="">Javascript</a>
        <a href="">Front-end</a>
        <a href="">NodeJS</a>
        <a href="">ReactJS</a>
        <a href="">Fullstack</a>
      </div>
      <div class="col-md">
        <p>Giới thiệu</p>
      </div>
    </div>
  </div>
</footer>
