<section id="register" class="vh-100">
  <div class="d-flex justify-content-center w-100 h-100">
    <div class="card mx-5 my-5 w-100 border-0">
      <div class="card-header border-0">
        <a class="h3 px-2 text-primary" routerLink="/login"
          ><i class="fas fa-arrow-left"></i
        ></a>
      </div>
      <div class="card-body">
        <div
          class="row flex-column justify-content-center align-items-center h-100"
        >
          <div class="col" style="max-width: 80%">
            <div class="mb-4">
              <h1 class="text-center h1">Register new account</h1>
              <p class="text-center">Please input username and password</p>
            </div>

            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-6">
                  <app-input-log
                    [parentForm]="formRegister"
                    label="Username"
                    [submitted]="submitted"
                    [control]="formRegister.get('username')"
                  ></app-input-log>

                  <app-input-log
                    [parentForm]="formRegister"
                    label="First Name"
                    [submitted]="submitted"
                    [control]="formRegister.get('firstName')"
                  ></app-input-log>

                  <app-input-log
                    [parentForm]="formRegister"
                    label="Last Name"
                    [submitted]="submitted"
                    [control]="formRegister.get('lastName')"
                  ></app-input-log>
                </div>
                <div class="col-6">
                  <app-input-log
                    [parentForm]="formRegister"
                    label="Email"
                    [submitted]="submitted"
                    [control]="formRegister.get('email')"
                    type="email"
                  ></app-input-log>

                  <app-input-log
                    [parentForm]="formRegister"
                    label="Password"
                    [submitted]="submitted"
                    [control]="formRegister.get('password')"
                    type="password"
                  ></app-input-log>

                  <app-input-log
                    [parentForm]="formRegister"
                    label="Confirm Password"
                    [submitted]="submitted"
                    [control]="formRegister.get('confirmPassword')"
                    type="password"
                  ></app-input-log>
                </div>
              </div>

              <hr class="mt-4" />
              <div class="form-group d-flex justify-content-center mb-0 mt-4">
                <button [disabled]="loading" class="btn btn-primary w-100">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Register
                </button>
              </div>
            </form>
            <div class="mt-4">
              <p class="text-center">
                Already have an account?
                <span><a routerLink="/admin/login">Login</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p-toast></p-toast>
