<div class="container">
  <div class="p-grid" *ngIf="course; else loadCourse">
    <div class="p-col-8">
      <div class="course-header">
        <h1>{{ course.title }}</h1>
        <p>{{ course.subtitle }}</p>
        <div class="rating">
          <span class="header-rating">{{ course.rating }}</span>
          <p-rating
            [(ngModel)]="course.rating"
            readonly="true"
            [cancel]="false"
          ></p-rating>
          <span class="p-mx-1">(3,943 ratings)</span>
          <span>{{ course.student }} students</span>
        </div>
        <div class="author">
          Created by <span>{{ course.author }}</span>
        </div>
        <div class="course-meta">
          <span>Last updated {{ course._kmd.lmt | date }}</span>
        </div>
      </div>

      <div class="course-body">
        <div class="course-objective">
          <h2 class="title">What you'll learn</h2>
          <div class="p-grid">
            <div
              class="course-objective__content p-col-6"
              *ngFor="let item of course.goal"
            >
              <i class="pi pi-check"></i>
              <p>{{ item.content }}</p>
            </div>
          </div>
        </div>

        <div class="course-content">
          <h2 class="title">Course content</h2>
          <div class="curriculum">
            <div class="content">
              <!-- <span class="section">21 sections</span>
              <span class="lecture">314 lectures</span>
              <span class="length">68h total length</span> -->
            </div>
            <span class="expand" (click)="expandAll(accor)"
              >Expand all sections</span
            >
          </div>

          <p-accordion [multiple]="true" #accor>
            <ng-container *ngFor="let item of course.section">
              <p-accordionTab [header]="item.title">
                <div class="lecture" *ngFor="let lecture of item.chapter">
                  <div class="title">
                    <i class="fas fa-play-circle"></i>
                    <p>{{ lecture.title }}</p>
                  </div>
                  <!-- <span>00:44</span> -->
                </div>
              </p-accordionTab>
            </ng-container>
          </p-accordion>
        </div>

        <div class="course-requirement">
          <h2 class="title">Requirements</h2>
          <ul style="padding-left: 20px">
            <li *ngFor="let require of course.require">
              {{ require.content }}
            </li>
          </ul>
        </div>

        <div class="course-description">
          <h2 class="title">Description</h2>
          <div
            [innerHtml]="course.html"
            [ngClass]="[showmore ? 'showmore' : 'showless']"
          ></div>
          <p-button
            class="morelessBtn"
            [label]="[showmore ? 'Show less' : 'Show more']"
            [icon]="[showmore ? 'pi pi-angle-down' : 'pi pi-angle-up']"
            iconPos="right"
            (click)="showmore = !showmore"
          ></p-button>
        </div>

        <div class="target-student">
          <h2 class="title">Who this course is for:</h2>
          <ul style="padding-left: 20px">
            <li *ngFor="let item of course.target_student">
              {{ item.content }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-col-4">
      <div class="card-sidebar">
        <div class="sidebar-intro" (click)="showDialog()">
          <div class="content">
            <img [src]="course.img" />
            <div class="overlay"></div>
            <div class="icon">
              <span>
                <i class="pi pi-play" style="font-size: 2rem"></i>
              </span>
              <p>Preview this course</p>
            </div>
          </div>
        </div>
        <div [class]="{ 'overlay-modal': displayBasic }"></div>
        <p-dialog
          header="Course Preview"
          [(visible)]="displayBasic"
          [style]="{ width: '50vw' }"
          [baseZIndex]="100000"
          styleClass="modal-preview"
        >
          <p class="title">
            {{ course.title }}
          </p>

          <iframe
            [src]="course.preview_video | safeUrl"
            width="640"
            height="480"
          ></iframe>

          <div class="sample-video">
            <p>Free Sample Videos:</p>
          </div>

          <ng-template pTemplate="footer">
            <p-button
              (click)="closeDialog()"
              label="No"
              styleClass="p-button-text"
            ></p-button>
            <p-button
              (click)="closeDialog()"
              label="Yes"
              styleClass="p-button-text"
            ></p-button>
          </ng-template>
        </p-dialog>

        <div class="sidebar-content">
          <div class="section-buy">
            <div class="price">
              <span class="current-price">{{ course.price | currency }}</span>
              <!-- <s><span class="original-price">$129.99</span></s>
              <span class="discount">91% off</span> -->
            </div>
            <!-- <div class="discount-expire">
              <i class="pi pi-clock"></i>
              <span>1 day left at this price!</span>
            </div> -->
            <button class="btn btn-add" (click)="addToCart(course)">
              {{ course.incart ? "Go to cart" : "Add to cart" }}
            </button>
            <button class="btn btn-buy" routerLink="/category/checkout">
              Buy now
            </button>
            <p class="money-back">30-Day Money-Back Guarantee</p>
          </div>

          <div class="section-description">
            <h2>This course includes:</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadCourse>
    <div style="display: flex; justify-content: center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>
